rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.email_verified == true &&
        request.auth.token.email == '$(CRM_INITIAL_ADMIN_EMAIL)';
    }
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
